.container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    grid-template-areas: "sidebar content";
    min-height: 100vh;
}

/* Estilize a barra lateral */
.sidebar {
    grid-area: sidebar;
    background-color: #333;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.content {
    grid-area: content;
    padding: 20px;
}

body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flexbox;
    justify-items: center;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav, ul {
    list-style: none;
}

nav, ul, li {
    display: inline;
    margin-right: 20px;
}

li{
    color: #ddd;
}

section {
    padding: 20px;
}

form {
    display: grid;
    gap: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, table, td {
    border: 1px solid #ddd; /* Adicione uma borda de 1px a todas as células */
    padding: 8px;
    text-align: left;
}

table, th {
    background-color: #333;
    color: white;
}

img {
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% */
}