.container{
    display: grid;
    min-height: 90vh;
    grid-template-areas: 
     "header header header"
     "main  .     side-bar"
     "footer footer footer"
    ;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
}

.box{
    outline: 1px solid;
    text-align: center;
    border-radius: 5%;
}

#div2{
    grid-area: header;
    background-color: aqua;
}
#div3{
    grid-area: main;
    background-color: rgb(65, 54, 54);
}
#div4{
    grid-area: side-bar;
    background-color: blue;
}
#div6{
    grid-area: footer;
    background-color: brown;
}
